body {
  margin: 0;
  /* min-height: 100vh; */
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}
html,
body #root {
  /* min-height: 100vh; */
}

@font-face {
  font-family: "galanoReg";
  src: url("./fonts/galanogrotesque-regular.otf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "galanoMed";
  src: url("./fonts/galanogrotesque-medium.otf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "galanoSB";
  src: url("./fonts/galanogrotesque-semibold.otf") format("truetype");
  font-weight: 600;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "galanoReg";
  }
}
